<app-navbar></app-navbar>


<div class="full section section-tabs">
  <div class="container" >
    <br>
    <br>
    <div class="row" >
      <div class="col-md-10 ml-auto col-xl-10 mr-auto" >
        <div class="card" style="background-color : rgba(255, 255, 255, 0.5);">
          <div class="nav-tabs-navigation">
            <div class="row" >
              <div class="col-5 fullImage imageBackground" ></div>
              <div class="col-7 formlogin">
                <div class="content-center1">
                  <h3 class="text-center title">Contacter-Nous</h3>
                  <br>
           
                  <h4 style="color: blue; "  class="text-center  description"><strong>Site officielle de l'enicathage  :</strong> </h4>
                  <h6 style="color: rgb(1, 1, 32); " ><a   href="http://www.enicarthage.rnu.tn/" style="color: rgb(1, 1, 32); ">www.enicarthage.rnu.tn</a></h6>
                  <img src="assets/img/Logo_ENICarthage-removebg-preview.png" width="180" height="100" alt="logo"  />
                  <br>
                
                  <h3 style="color: blue;   "  class="text-center  description"><strong>Numéro de télephone </strong></h3> 
                  <h5 style="color: rgb(1, 1, 32); " > ( +216 ) 71 940 699 </h5>
                  <br>
                  <h3 style="color: blue;    "  class="text-center  description"><strong>Adresse  : </strong></h3> 
                  <h6 style="color: rgb(1, 1, 32); "> 45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</h6>
                  <br>
                  
                  <br>
                  <p class="text-center  description">
                    <a [routerLink]="'/index'"><i
                        class="now-ui-icons business_bank" style="color: rgb(1, 1, 32); " ></i><br><span style="color: rgb(1, 1, 32); ">Acceuil</span></a><br>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>